#sidebar {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    position: relative;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.hide-sidebar{
    transform: translateY(-100px);
}
.menu {
    width: 100%;
}

.menu .icons {
    width: 82%;
    position: absolute;
    bottom: 0;
}

.icons a {
    font-size: 25px;
    color: black;
}
.icons .open-close-icons {
    position: relative;
    height: 50px;
}
.icons .open-close-icons i {
    font-size: 27px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    transition: all .3s;
}

/* task1 */
body{
    height: 1000px;
}
#sidebar-from-left{
    width: 20%;
    height: 100vh;
    background-color: #ccc;
    position: relative;
    transition: all .5s;
}
.hide-sidebar-from-left{
    transform: translateX(-220px);
}

#sidebar-from-left .icons i{
    color: white;
    position: absolute;
    right: 15px;
    top:10px;
    font-size: 30px;    
    cursor: pointer;
}
#sidebar-from-left .list{
    position: absolute;
    top: 100px;
    left: 68px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul li{
    margin-bottom: 15px;
    list-style: none;
}




